{% extends "layout.html" %} {% block body %}
<div
  class="jumbotron jumbotron-fluid"
  style="
    background-color: #f8f9fa;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  "
>
  <div class="container">
    <h1 class="display-4" style="color: #007bff">Image & Video Classification, Object Detection</h1>
    <p class="lead" style="font-size: 18px">
      Website ini digunakan untuk tugas besar PCD.
    </p>
  </div>
  <form
    id=""
    action="{{ url_for('upload') }}"
    method="POST"
    enctype="multipart/form-data"
    style="
      border: 4px solid #007bff;
      padding: 40px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      width: 50%;
    "
  >
    <div style="text-align: center; margin-bottom: 20px">
      <label
        for="inputGroupFile04"
        style="margin-left: 100px; margin-right: 10px"
        >Pilih File:</label
      >
      <input
        name="file"
        type="file"
        id="inputGroupFile04"
        accept="image/*,video/*"
        style="margin-right: 10px"
      />
    </div>
    <button
      type="submit"
      class="btn btn-primary btn-lg"
      style="
        transition: all 0.3s ease;
        background-color: #007bff;
        border-color: #007bff;
      "
    >
      Upload <i class="fas fa-upload" style="margin-left: 5px"></i>
    </button>
  </form>
</div>
{% endblock %}
